
.icon-pinterest {
    background-color: #b81621;
    color: #ffffff;
}

.icon-mail {
    background-color: #0a88ff;
    color: #ffffff;
}

.icon-linkedin {
    background-color: #007bb6;
    color: #ffffff;
}

.icon-facebook {
    background-color: #306199;
    color: #ffffff;
}

.icon-reddit {
    background-color: #8bbbe3;
    color: #ffffff;
}

.icon-gplus {
    background-color: #e93f2e;
    color: #ffffff;
}

.icon-tumblr {
    background-color: #32506d;
    color: #ffffff;
}

.icon-twitter {
    background-color: #26c4f1;
    color: #ffffff;
}

.icon-digg {
    background-color: #ffffff;
    color: #000000;
}

.icon-stumbleupon {
    background-color: #eb4924;
    color: #ffffff;
}

.icon-delicious {
    background-color: #ffffff;
    color: #31a9ff;
}
