#set( $thumbSize = $conf.dims['thumb-size'] )
#set( $previewSize = $conf.dims['preview-size'] )

html {
    font-family: "Arial, Helvetica, sans";
}

.index body {
    background: #999999;
}
.folders ul {
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
    background: #0099ff;
    border-top: 1px solid white;
}
.folders ul li {
    list-style: none;
    display: inline-block;
    margin: .5em 0 0 0;
    padding: 0;
    text-indent: 0;
}
.folders ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
.thumbs {
    text-align: justify;
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
}
.thumbs figure {
    display: inline-block;
    vertical-align: middle;
    margin: .5em 0 0 0;
    padding: 0;
    border: .5em solid white;
}
.thumbs figure figcaption {
    display: none;
}
.thumbs figure img {
    display: block;
}

.preview body {
    background: #999999;
}
.preview body div {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: .5em;
}
.preview figure {
    display: inline-block;
    margin: 0 auto;
    padding: .5em;
    background: white;
    max-width: 100%;
}
.preview figure img {
    display: block;
    max-height: $math.round($previewSize.height)px;
    max-width: 100%;
    margin: 0 auto;
}
.artist {
    font-weight: bold;
}
.map {
    margin: 0 auto;
    width: 600px;
    height: 600px;
}
header {
    position: relative;
    background: #0099ff;
    margin: 0;
    min-height: 32px;
}
header h1 {
    min-height: 32px;
    margin: 0;
    line-height: 1;
    text-align: center;
    color: white;
}
header .left-btns {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px;
    padding: 0;
    width: auto;
    height: 32px;
    display: block;
}
header .right-btns {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
    padding: 0;
    width: auto;
    height: 32px;
    display: block;
}
header .prev-btn {
    margin: 0;
    width: 32px;
    height: 32px;
    background: url('img/arrow-left.svg') no-repeat center center;
    display: inline-block;
}
header .next-btn {
    margin: 0;
    width: 32px;
    height: 32px;
    background: url('img/arrow-right.svg') no-repeat center center;
    display: inline-block;
}
header .up-btn {
    margin: 0;
    width: 32px;
    height: 32px;
    background: url('img/arrow-up.svg') no-repeat center center;
    display: inline-block;
}
header span {
    display: none;
}
