#set( $thumbSize = $conf.dims['thumb-size'] )
#set( $previewSize = $conf.dims['preview-size'] )

html {
    font-family: "Arial, Helvetica, sans";
}

h1 {
    display: none;
}
.index body {
    background: #999999;
}
.folders ul {
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
    background: #0099ff;
}
.folders ul li {
    list-style: none;
    display: inline-block;
    margin: .5em 0 0 0;
    padding: 0;
    text-indent: 0;
}
.folders ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
.thumbs {
    text-align: justify;
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
}
.thumbs figure {
    display: inline-block;
    vertical-align: middle;
    margin: .5em 0 0 0;
    padding: 0;
    border: .5em solid white;
}
.thumbs figure figcaption {
    display: none;
}
.thumbs figure img {
    display: block;
}

.preview body {
    background: #999999;
}
.preview body div {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: .5em;
}
.preview figure {
    display: inline-block;
    margin: 0 auto;
    padding: .5em;
    background: white;
    max-width: 100%;
}
.preview figure img {
    display: block;
    max-height: $math.round($previewSize.height)px;
    max-width: 100%;
}
