@import "font/fontello.css";
@import "share-colors.css";

#set( $thumbSize = $conf.dims['thumb-size'] )
#set( $previewSize = $conf.dims['preview-size'] )

* {
    font-family: "Helvetica, Arial, sans";
}
html {
    position: relative;
    margin: 0;
    padding: 0;
}
body {
    background: #999999;
    position: relative;
    margin: 0;
    padding: 0;
}
a,a:visited {
    text-decoration: none;
    color: #265C7F;
}
.wrap {
    margin: 32px 0 0 0;
    padding: 0;
}
body>div {
    text-align: center;
    padding: .5em;
}
.folders ul {
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
    background: #0099ff;
}
.folders ul li {
    list-style: none;
    display: inline-block;
    margin: .5em 0.25em 0 0.25em;
    padding: 0;
    text-indent: 0;
}
.folders ul li a {
    text-decoration: none;
    color: #203340;
    display: block;
    background: #7FCCFF;
    padding: 0 0.25em;
}
.thumbs {
    text-align: justify;
    display: block;
    margin: 0;
    padding: 0 .5em .5em .5em;
}
.thumbs figure {
    display: inline-block;
    vertical-align: middle;
    margin: .5em 0 0 0;
    padding: 0;
    border: .5em solid white;
}
.thumbs figure figcaption {
    display: none;
}
.thumbs figure img {
    display: block;
}
.preview figure {
    display: inline-block;
    margin: 0 auto;
    padding: .5em;
    background: white;
    max-width: 100%;
}
.preview figure img {
    display: block;
    max-height: $math.round($previewSize.height)px;
    max-width: 100%;
    margin: 0 auto;
}
.artist {
    font-weight: bold;
}
.map {
    width: 100%;
    height: 600px;
}
@media all and (max-width: 640px) {
    .map {
        height: 400px;
    }
}
@media all and (max-width: 450px) {
    .map {
        height: 240px;
    }
}
header {
    position: fixed;
    background: #0099ff;
    margin: 0;
    display: block;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}
header h1 {
    font-weight: bold;
    font-size: 150%;
    min-height: 32px;
    margin: 0;
    line-height: 32px;
    text-align: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}
header .left-btns {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px;
    padding: 0;
    width: auto;
    height: 32px;
    display: block;
}
header .right-btns {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
    padding: 0;
    width: auto;
    height: 32px;
    display: block;
}
header a {
    margin: 0;
    width: 32px;
    height: 32px;
    display: inline-block;
    color: white;
    font-size: 150%;
    line-height: 32px;
    border-radius: 5px;
}
header a:hover {
    background: #7FCCFF;
}
header .icon-arrow-left {
}
header span {
    display: none;
}
footer {
    padding: 0.5em 0.5em 2.5em 0.5em;
    text-align: center;
}
.body {
    background-color: #fff6d6;
}
.body .content {
    max-width: 40em;
    margin: 0 auto;
    text-align: left;
    padding: 0.5em;
}
.share {
    padding: 0.5em;
}
.share>a {
    margin: 0 0.125em;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    font-size: 150%;
    line-height: 32px;
    display: inline-block;
}
.profile {
    background-color: white;
    padding: 0.5em;
}
.profile .chart {
    width: 800px;
    margin: 0 auto;
}
.profile .chart svg {
    width: 100%;
    height: 18.75%;
}
.profile .summary {
    width: 400px;
    margin: 0 auto;
}
.profile .summary th {
    text-align: left;
    font-weight: normal;
    font-style: italic;
}
.profile .summary td {
    text-align: right;
    font-weight: bold;
    font-style: normal;
}
@media all and (max-width: 850px) {
    .profile .chart {
        width: 600px;
    }
}
@media all and (max-width: 640px) {
    .profile .chart {
        width: 400px;
    }
}
@media all and (max-width: 450px) {
    .profile .chart {
        width: 240px;
    }
    .profile .summary {
        width: 240px;
        font-size: 75%;
    }
}
