@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?55982640');
  src: url('../font/fontello.eot?55982640#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?55982640') format('woff'),
       url('../font/fontello.ttf?55982640') format('truetype'),
       url('../font/fontello.svg?55982640#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?55982640#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-rss:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-up:before { content: '\e804'; } /* '' */
.icon-digg:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-gplus:before { content: '\e809'; } /* '' */
.icon-pinterest:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-tumblr:before { content: '\e80c'; } /* '' */
.icon-reddit:before { content: '\e80d'; } /* '' */
.icon-stumbleupon:before { content: '\e80e'; } /* '' */
.icon-delicious:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */